In [1]:
import pandas as pd
df = pd.read_csv('Bengaluru_House_Data (1).csv')
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [2]:
print("Missing values in 'society' before imputation:", df['society'].isnull().sum())
df['society'].fillna('NoSociety', inplace=True)
print("Missing values in 'society' after imputation:", df['society'].isnull().sum())
print("First 5 rows of 'society' column after imputation:")
print(df['society'].head())

Missing values in 'society' before imputation: 5502
Missing values in 'society' after imputation: 0
First 5 rows of 'society' column after imputation:
0       Coomee
1      Theanmp
2    NoSociety
3      Soiewre
4    NoSociety
Name: society, dtype: object

/tmp/ipython-input-1455988395.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['society'].fillna('NoSociety', inplace=True)

In [3]:
print("Missing values in 'society' before imputation:", df['society'].isnull().sum())
df['society'] = df['society'].fillna('NoSociety')
print("Missing values in 'society' after imputation:", df['society'].isnull().sum())
print("First 5 rows of 'society' column after imputation:")
print(df['society'].head())

Missing values in 'society' before imputation: 0
Missing values in 'society' after imputation: 0
First 5 rows of 'society' column after imputation:
0       Coomee
1      Theanmp
2    NoSociety
3      Soiewre
4    NoSociety
Name: society, dtype: object

In [4]:
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outlier_indices = df[(df['price'] < lower_bound) | (df['price'] > upper_bound)].index

print(f"First Quartile (Q1) for 'price': {Q1:.2f}")
print(f"Third Quartile (Q3) for 'price': {Q3:.2f}")
print(f"Interquartile Range (IQR) for 'price': {IQR:.2f}")
print(f"Lower bound for outlier detection: {lower_bound:.2f}")
print(f"Upper bound for outlier detection: {upper_bound:.2f}")
print(f"\nNumber of outliers identified: {len(outlier_indices)}")
print(f"Indices of 'price' outliers:\n{outlier_indices.tolist()}")

First Quartile (Q1) for 'price': 50.00
Third Quartile (Q3) for 'price': 120.00
Interquartile Range (IQR) for 'price': 70.00
Lower bound for outlier detection: -55.00
Upper bound for outlier detection: 225.00

Number of outliers identified: 1276
Indices of 'price' outliers:
[7, 9, 11, 18, 22, 60, 62, 79, 96, 107, 122, 140, 153, 159, 163, 185, 192, 193, 210, 225, 248, 260, 277, 282, 324, 325, 337, 355, 358, 362, 373, 401, 407, 408, 413, 434, 435, 440, 451, 455, 459, 472, 477, 480, 485, 490, 518, 524, 534, 539, 545, 550, 566, 570, 583, 605, 609, 610, 615, 618, 634, 639, 641, 648, 649, 656, 669, 672, 681, 702, 736, 743, 749, 794, 801, 823, 840, 855, 861, 888, 889, 908, 911, 928, 935, 936, 937, 938, 941, 948, 950, 953, 977, 1024, 1044, 1050, 1063, 1065, 1068, 1078, 1090, 1094, 1097, 1124, 1146, 1153, 1176, 1184, 1186, 1227, 1234, 1245, 1246, 1255, 1257, 1262, 1269, 1287, 1296, 1299, 1302, 1311, 1330, 1352, 1357, 1361, 1370, 1379, 1383, 1385, 1393, 1398, 1400, 1405, 1442, 1443, 1478, 1552, 1556, 1561, 1569, 1590, 1593, 1599, 1601, 1604, 1605, 1614, 1635, 1661, 1669, 1678, 1681, 1694, 1711, 1716, 1718, 1727, 1730, 1744, 1749, 1756, 1774, 1789, 1795, 1820, 1835, 1839, 1855, 1857, 1873, 1880, 1881, 1917, 1952, 1984, 1995, 2004, 2010, 2011, 2019, 2024, 2029, 2033, 2073, 2081, 2097, 2108, 2117, 2135, 2136, 2142, 2146, 2152, 2164, 2165, 2179, 2191, 2208, 2209, 2222, 2238, 2239, 2264, 2266, 2270, 2272, 2282, 2286, 2300, 2306, 2310, 2314, 2331, 2338, 2341, 2352, 2355, 2366, 2379, 2392, 2400, 2417, 2426, 2428, 2430, 2439, 2440, 2441, 2498, 2500, 2511, 2528, 2552, 2560, 2561, 2563, 2584, 2602, 2608, 2617, 2620, 2623, 2627, 2649, 2657, 2660, 2663, 2667, 2704, 2711, 2739, 2743, 2781, 2783, 2797, 2799, 2802, 2835, 2850, 2857, 2860, 2863, 2885, 2893, 2911, 2950, 2952, 2959, 2981, 2986, 3000, 3004, 3005, 3010, 3030, 3045, 3062, 3072, 3075, 3092, 3096, 3100, 3109, 3111, 3114, 3117, 3122, 3123, 3124, 3134, 3138, 3140, 3151, 3154, 3158, 3163, 3164, 3169, 3172, 3174, 3180, 3193, 3220, 3223, 3231, 3235, 3241, 3262, 3285, 3291, 3293, 3302, 3339, 3343, 3346, 3354, 3357, 3379, 3425, 3430, 3440, 3441, 3447, 3451, 3457, 3459, 3460, 3483, 3484, 3514, 3518, 3524, 3527, 3539, 3541, 3550, 3555, 3557, 3568, 3609, 3636, 3638, 3646, 3653, 3654, 3662, 3665, 3673, 3697, 3704, 3706, 3714, 3716, 3727, 3736, 3737, 3778, 3785, 3793, 3806, 3810, 3811, 3838, 3857, 3862, 3866, 3867, 3870, 3881, 3886, 3915, 3916, 3921, 3926, 3936, 3948, 3974, 3977, 3978, 3993, 3995, 3996, 4034, 4045, 4058, 4073, 4078, 4112, 4121, 4126, 4162, 4183, 4187, 4195, 4203, 4207, 4210, 4228, 4242, 4243, 4253, 4255, 4263, 4264, 4267, 4268, 4269, 4282, 4293, 4308, 4313, 4314, 4338, 4351, 4357, 4359, 4369, 4371, 4373, 4378, 4380, 4395, 4396, 4403, 4407, 4412, 4413, 4422, 4429, 4444, 4463, 4465, 4498, 4510, 4515, 4516, 4529, 4543, 4567, 4578, 4585, 4590, 4594, 4601, 4602, 4617, 4622, 4626, 4632, 4642, 4654, 4655, 4684, 4689, 4691, 4706, 4714, 4715, 4721, 4737, 4789, 4799, 4826, 4835, 4842, 4846, 4874, 4889, 4906, 4928, 4929, 4941, 4953, 4962, 4963, 4965, 4982, 4992, 4995, 4998, 5020, 5031, 5036, 5037, 5042, 5058, 5067, 5076, 5082, 5094, 5129, 5141, 5143, 5158, 5159, 5181, 5184, 5186, 5190, 5193, 5223, 5225, 5265, 5284, 5304, 5343, 5348, 5361, 5363, 5365, 5367, 5392, 5403, 5430, 5442, 5444, 5469, 5476, 5480, 5483, 5510, 5519, 5528, 5530, 5545, 5557, 5578, 5588, 5606, 5609, 5616, 5618, 5639, 5641, 5668, 5679, 5695, 5701, 5711, 5714, 5715, 5717, 5728, 5736, 5749, 5770, 5799, 5805, 5834, 5849, 5866, 5878, 5883, 5887, 5901, 5918, 5920, 5925, 5938, 5939, 5943, 5946, 5968, 5974, 5975, 5984, 5985, 5987, 5998, 6032, 6034, 6045, 6051, 6054, 6055, 6084, 6089, 6097, 6117, 6126, 6128, 6136, 6151, 6164, 6169, 6176, 6182, 6188, 6190, 6194, 6195, 6205, 6225, 6248, 6271, 6274, 6337, 6342, 6348, 6350, 6380, 6393, 6406, 6421, 6422, 6427, 6453, 6457, 6470, 6488, 6505, 6531, 6533, 6540, 6549, 6552, 6567, 6610, 6611, 6650, 6659, 6662, 6667, 6671, 6675, 6692, 6695, 6727, 6741, 6763, 6776, 6778, 6781, 6791, 6828, 6831, 6838, 6854, 6869, 6929, 6937, 6972, 7001, 7008, 7019, 7022, 7026, 7035, 7039, 7041, 7082, 7088, 7114, 7121, 7127, 7137, 7155, 7179, 7186, 7188, 7189, 7202, 7203, 7256, 7277, 7302, 7315, 7333, 7340, 7355, 7356, 7363, 7369, 7370, 7376, 7383, 7398, 7447, 7452, 7454, 7505, 7516, 7524, 7588, 7589, 7590, 7593, 7597, 7598, 7612, 7617, 7619, 7621, 7631, 7632, 7643, 7646, 7657, 7663, 7668, 7675, 7680, 7703, 7714, 7719, 7727, 7735, 7750, 7763, 7764, 7770, 7783, 7801, 7802, 7811, 7824, 7832, 7851, 7852, 7855, 7860, 7865, 7869, 7871, 7880, 7883, 7886, 7892, 7894, 7895, 7917, 7962, 7966, 7972, 7984, 7986, 7993, 7995, 8002, 8004, 8008, 8016, 8020, 8023, 8025, 8031, 8039, 8050, 8057, 8075, 8089, 8097, 8106, 8113, 8119, 8127, 8142, 8154, 8165, 8169, 8170, 8178, 8187, 8193, 8195, 8200, 8201, 8205, 8212, 8219, 8222, 8225, 8237, 8244, 8253, 8271, 8280, 8281, 8301, 8320, 8329, 8332, 8336, 8343, 8351, 8367, 8387, 8390, 8398, 8408, 8409, 8432, 8444, 8449, 8467, 8474, 8475, 8486, 8487, 8491, 8536, 8546, 8550, 8576, 8592, 8610, 8616, 8630, 8641, 8645, 8667, 8682, 8684, 8688, 8706, 8723, 8740, 8744, 8747, 8757, 8789, 8803, 8849, 8860, 8878, 8885, 8902, 8923, 8925, 8930, 8933, 8947, 8956, 8958, 8980, 8985, 8998, 9016, 9032, 9047, 9053, 9056, 9070, 9094, 9103, 9124, 9127, 9128, 9136, 9149, 9151, 9156, 9173, 9181, 9185, 9195, 9217, 9228, 9235, 9253, 9266, 9281, 9304, 9305, 9314, 9316, 9322, 9325, 9343, 9347, 9351, 9369, 9377, 9384, 9386, 9404, 9410, 9426, 9439, 9458, 9459, 9474, 9482, 9490, 9503, 9507, 9511, 9512, 9513, 9517, 9519, 9523, 9531, 9535, 9541, 9546, 9554, 9570, 9581, 9594, 9598, 9601, 9612, 9615, 9621, 9631, 9640, 9641, 9652, 9688, 9695, 9699, 9702, 9703, 9719, 9722, 9725, 9726, 9727, 9729, 9737, 9746, 9748, 9764, 9767, 9769, 9772, 9798, 9800, 9801, 9804, 9805, 9812, 9817, 9821, 9830, 9831, 9833, 9839, 9840, 9851, 9860, 9871, 9883, 9886, 9887, 9888, 9892, 9901, 9902, 9907, 9909, 9912, 9925, 9933, 9935, 9946, 9954, 9970, 9974, 9975, 9998, 10002, 10004, 10009, 10015, 10037, 10050, 10067, 10070, 10072, 10079, 10092, 10094, 10101, 10119, 10127, 10140, 10147, 10156, 10158, 10163, 10164, 10174, 10178, 10204, 10223, 10226, 10230, 10237, 10249, 10250, 10251, 10269, 10292, 10304, 10313, 10316, 10320, 10347, 10360, 10362, 10373, 10376, 10384, 10396, 10408, 10410, 10429, 10475, 10483, 10485, 10489, 10492, 10501, 10510, 10512, 10515, 10543, 10554, 10560, 10570, 10593, 10594, 10596, 10617, 10624, 10631, 10639, 10642, 10661, 10665, 10681, 10684, 10697, 10707, 10718, 10749, 10754, 10756, 10760, 10765, 10791, 10815, 10822, 10833, 10846, 10852, 10871, 10885, 10886, 10896, 10908, 10910, 10913, 10933, 10940, 10947, 10964, 10969, 10972, 10983, 10996, 11007, 11014, 11031, 11080, 11096, 11097, 11100, 11107, 11129, 11139, 11147, 11150, 11190, 11226, 11232, 11240, 11265, 11283, 11290, 11292, 11301, 11309, 11323, 11327, 11328, 11343, 11350, 11356, 11365, 11366, 11377, 11378, 11398, 11408, 11409, 11411, 11412, 11415, 11417, 11435, 11441, 11443, 11454, 11470, 11472, 11483, 11493, 11505, 11520, 11545, 11548, 11576, 11577, 11584, 11603, 11607, 11623, 11641, 11645, 11648, 11653, 11656, 11658, 11674, 11692, 11733, 11738, 11739, 11744, 11763, 11774, 11809, 11813, 11831, 11842, 11856, 11872, 11877, 11906, 11908, 11921, 11924, 11926, 11950, 11951, 11960, 11986, 11988, 12006, 12032, 12058, 12059, 12070, 12073, 12087, 12089, 12092, 12102, 12114, 12131, 12151, 12159, 12164, 12170, 12180, 12181, 12192, 12198, 12209, 12210, 12230, 12260, 12269, 12270, 12332, 12337, 12353, 12360, 12363, 12366, 12385, 12388, 12390, 12391, 12393, 12408, 12434, 12438, 12439, 12443, 12449, 12451, 12467, 12481, 12483, 12508, 12515, 12519, 12520, 12539, 12544, 12555, 12571, 12586, 12588, 12599, 12615, 12618, 12639, 12650, 12680, 12685, 12688, 12700, 12711, 12712, 12724, 12726, 12727, 12742, 12748, 12750, 12757, 12768, 12789, 12796, 12842, 12867, 12887, 12892, 12896, 12913, 12918, 12962, 12984, 12987, 13005, 13007, 13013, 13019, 13020, 13027, 13036, 13040, 13057, 13067, 13086, 13089, 13092, 13095, 13104, 13110, 13119, 13132, 13167, 13171, 13180, 13197, 13200, 13205, 13208, 13213, 13233, 13246, 13247, 13261, 13290, 13306, 13311, 13315, 13316, 13318]

In [5]:
print("Missing values in other columns before dropping:\n", df.drop(columns=['society']).isnull().sum()[df.drop(columns=['society']).isnull().sum() > 0])

# Justification for dropping rows with missing values:
# Dropping rows with missing values is a suitable strategy here because for critical columns like 'total_sqft', 'bath', and 'balcony',
# imputation without domain knowledge might introduce inaccuracies. Given the context of house price prediction,
# having complete and accurate information for these features is important. If the percentage of missing values is relatively small,
# dropping them helps maintain data integrity and avoids complex imputation methods that might distort the data distribution.

# Drop rows with any remaining missing values (excluding 'society' which is already imputed)
df_no_nan = df.dropna(subset=df.drop(columns=['society']).columns.tolist())

# Remove rows identified as outliers in the 'price' column
df_cleaned = df_no_nan.drop(outlier_indices, errors='ignore')

print(f"\nShape of the cleaned DataFrame (df_cleaned): {df_cleaned.shape}")
print("First 5 rows of the cleaned DataFrame:")
print(df_cleaned.head())

Missing values in other columns before dropping:
 location      1
size         16
bath         73
balcony     609
dtype: int64

Shape of the cleaned DataFrame (df_cleaned): (11658, 9)
First 5 rows of the cleaned DataFrame:
              area_type   availability                  location       size  \
0  Super built-up  Area         19-Dec  Electronic City Phase II      2 BHK
1            Plot  Area  Ready To Move          Chikka Tirupathi  4 Bedroom
2        Built-up  Area  Ready To Move               Uttarahalli      3 BHK
3  Super built-up  Area  Ready To Move        Lingadheeranahalli      3 BHK
4  Super built-up  Area  Ready To Move                  Kothanur      2 BHK

     society total_sqft  bath  balcony   price
0     Coomee       1056   2.0      1.0   39.07
1    Theanmp       2600   5.0      3.0  120.00
2  NoSociety       1440   2.0      3.0   62.00
3    Soiewre       1521   3.0      1.0   95.00
4  NoSociety       1200   2.0      1.0   51.00